/* @override http://tickitapp.trimeego.com/stylesheets/event.css?1303505743 */

div.event-table-cell {
	display: block;
	background-color: #fff;
	padding: 5px 20px 5px 20px;
	border-bottom-color: silver;
	border-bottom-width: 1px;
}

div.event-table-cell #title {
	font-weight: bold;
	font-size: 20px;
}

div.event-table-cell #details {
	text-align: left;
}

div.event-table-cell label {
	display: inline-block;
	margin: 0px 5px 0px 10px;
	padding-right: 5px;
	text-align: right;
	color: #7f7f7f;
	font-size: 14px;
}

div#description {
	margin: 10px;
	overflow: hidden;
}

div.event-table-cell #start-time {
	display: inline-block;
}

div.event-table-cell #location {
	display: inline;
}

div.event-table-cell #end-time {
	display: inline-block;
}