#event-content {
	width:100%;
	min-height: 300px;
	margin:0;
	padding:0;
    top:30px;
    left:0px;
    margin: 12px 0px 2px 0px;
    padding:0px 0px 10px 0px;
	background-color: #000;
    position:absolute;
}

div.event-table-cell {
	display: block;
	background-color: #fff;
	padding: 5px 20px 5px 20px;
	border-bottom-color: silver;
	border-bottom-width: 1px;
	background-image: -webkit-gradient(
	    linear,
	    center top,
	    center bottom,
	    color-stop(0.80, rgb(255,255,255)),
	    color-stop(0.99, rgb(230,230,230))
	);
	background-image: -moz-linear-gradient(
	    top center,
	    rgb(255,255,255) 6%,
	    rgb(170,170,170) 50%
	);	
	
}

div.event-table-cell #title {
	font-weight: bold;
	font-size: 20px;
}

div.event-table-cell #details {
	text-align: left;
}

div.event-table-cell label {
	display: inline-block;
	margin: 0px 5px 0px 10px;
	padding-right: 5px;
	text-align: right;
	color: #7f7f7f;
	font-size: 14px;
}

div#description {
	margin: 10px;
	overflow: hidden;
}

div.event-table-cell #start-time {
	display: inline-block;
}

div.event-table-cell #location {
	display: inline;
}

div.event-table-cell #end-time {
	display: inline-block;
}

div.leftNav{
	float: left;
	height:  23px;
	margin: 7px  0px 0px 5px;
	padding: 5px 10px 0px 10px;
	text-align: center;	
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
	border: 1px solid #cbcbcb;
	background-color: #2d2bfa;
	font-size: 15px;
	background-image: -webkit-gradient(
	    linear,
	    center top,
	    center bottom,
	    color-stop(0.00, hsl(240, 83%, 100%)),
	    color-stop(1.0 hsl(240, 83%, 30%))
	);
	background-image: -moz-linear-gradient(
	    t center,
	    rgb(45, 45, 255) 0%,
	    rgb(22, 21, 125) 100%
	);
	
}

div.leftNav a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 15px;
}


div.rightNav{
	float: right;
	height:  23px;
	margin: 7px  0px 0px 5px;
	padding: 5px 10px 0px 10px;
	text-align: center;	
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
	border: 1px solid #cbcbcb;
	background-color: #2d2bfa;
	font-size: 15px;
	background-image: -webkit-gradient(
	    linear,
	    center top,
	    center bottom,
	    color-stop(0.00, hsl(240, 83%, 100%)),
	    color-stop(1.0 hsl(240, 83%, 30%))
	);
	background-image: -moz-linear-gradient(
	    t center,
	    rgb(45, 45, 255) 0%,
	    rgb(22, 21, 125) 100%
	);
	
}
div.rightNav a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 15px;
}

