/* @override http://localhost:3000/stylesheets/vote.css?1303587703 */

html, body {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	background-color: #000;
	min-height: 440px;
	min-width: 320px;

}

/* styles for IE 5 Mac */
#centerwrap {
    width: 99.2%;
	height: 99.4%;
    position:relative;
    vertical-align: center;
	max-width: 1024px;	
	min-height: 440px;
	margin: 0 auto;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
	background-image: -webkit-gradient(
	    linear,
	    center top,
	    center bottom,
	    color-stop(0.06, rgb(255,255,255)),
	    color-stop(0.50, rgb(170,170,170))
	);
	background-image: -moz-linear-gradient(
	    top center,
	    rgb(255,255,255) 6%,
	    rgb(170,170,170) 50%
	);	
}

#content {
	width:100%;
	height:87%;
	min-height: 300px;
	margin:0;
	padding:0;
    top:30px;
    left:0px;
    margin: 12px 0px 2px 0px;
    padding:0px 0px 10px 0px;
	background-color: #000;
    position:absolute;
    overflow: hidden;
}

div.event-title {
	width: 100%;
	margin: 0px 0px 0px 0px;
	height: 70px;
	background-image: -webkit-gradient(
	    linear,
	    center top,
	    center bottom,
	    color-stop(0.06, rgb(255,255,255)),
	    color-stop(0.50, rgb(170,170,170))
	);
	background-image: -moz-linear-gradient(
	    top center,
	    rgb(255,255,255) 6%,
	    rgb(170,170,170) 50%
	);	
}

div.event-title h1 {
	margin: 0px 0px 0px 0px;
	padding: 10px 5px 5px 5px;
	font-size: 14pt;
	text-align: center;
	color: #000;
}

/* commented backslash hack  - invisible to IE 5 \*/
/* end hack */

#chart{
  margin:10px;
	height: 90%;
}

#chartOverlay{
	position: absolute; 	
	top: 0px;
	width: 100%;
	height: 100%;
	padding: 5px;
}
#chart-area {
	position: absolute; 	
	background-color: #000;
	height: 80%;
	width: 100%;
}

.current-number {
	padding-top: 7px;
    text-align: center;
    text-shadow: #000 0px 0px 25px;
	display: inline-block;
    font-size: 18pt;
    font-weight: bold;
    opacity: 0;
}

.number-window-glass {
	height: 42px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin: 5px; 
background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(0.06, rgb(170,170,170)),
    color-stop(0.51, rgb(255,255,255))
);
background-image: -moz-linear-gradient(
    right center,
    rgb(143,143,143) 6%,
    rgb(255,255,255) 51%
);	
	
}


div.number-window {
    text-align: center;
	display: inline-block;
	width: 12%;
	height: 52px;
    left:-50px;
    top: 41px;
    padding: 3px;
	position: absolute;
    opacity:0;
    padding: 0px 0px 0px 0px;
	background-color: rgba(254,255,254,0);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	background-image: -webkit-gradient(
	    linear,
	    right top,
	    left top,
	    color-stop(0.90, rgb(146,64,28)),
	    color-stop(0.06, rgba(146,64,28, 0.6))
	);
	
	background-image: -moz-linear-gradient(
	    right center,
	    rgb(146,64,28) 90%,
	    rgb(246,164,128) 50%,
	    rgb(146,64,28) 0%
	);	

}


div#instructions {
	padding: 10px 10px 10px 10px;
	font-size: 11pt;
	font-weight: bold;
	text-align: center;
	height: 20px;
	overflow: hidden;
	vertical-align: center;
}	

div#spectrum-ruler {
	background-color: #fff;
	border: 1px solid silver;
	
}
div#tape {
	width: 102%;
}

.tape-counter{
	margin-top: 18px;
	width: 8.8%;
	font-size: 14px;
	color: #000;
	display: inline-table;
	text-align: center;
	text-shadow: #444 1px 1px 2px;
}

.triangle-bordera {
	padding: 2px 0px 2px 0px;
	border: 4px solid rgba(146,106,84,0.5);
	color:#333;
	background:#fff;
	/* css3 */
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(0.06, rgb(143,143,143)),
    color-stop(0.51, rgb(255,255,255))
);
background-image: -moz-linear-gradient(
    right center,
    rgb(143,143,143) 6%,
    rgb(255,255,255) 51%
);	
}

div.slider {
	width: 5;
}

div.rating-area{
	padding: 0px 0px 0px 0px;

}

div.rater {
    height: 50px;
    background-image: -webkit-gradient(linear, 0% 100%, 100% 100%, from(hsl(0, 53%, 50%)),color-stop(50%, hsl(55, 53%, 50%)),to(hsl(110, 53%, 50%)));
    vertical-align: middle;
    padding:  0px 2.5% 0px 1.5%;    
	background-image: -webkit-gradient(
	    linear,
	    right top,
	    left top,
	    color-stop(0.00, hsl(0, 53%, 50%)),
	    color-stop(0.50, hsl(55, 53%, 50%)),
	    color-stop(01.0 hsl(110, 53%, 50%))
	);
	background-image: -moz-linear-gradient(
	    right center,
	    rgb(127, 59, 59) 0%,
	    rgb(255, 243, 119) 50%,
	    rgb(71, 127, 59) 100%
	);
	border-left-color: #477f3b;
}

.top-rounded {
    -moz-border-radius:15px 15px 0px 0px;
    -webkit-border-radius:15px 15px 0px 0px;
    border-radius:15px 15px 0px 0px;

/*IE DOES NOT SUPPORT BORDER RADIUS*/
	
}

.bottom-rounded {
    -moz-border-radius:0px 0px 13px 13px;
    -webkit-border-radius:0px 0px 13px 13px;
    border-radius:0px 0px 13px 13px;
/*IE DOES NOT SUPPORT BORDER RADIUS*/
	
}

.rounded {
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
/*IE DOES NOT SUPPORT BORDER RADIUS*/
	
}

.shadow {	
    -moz-box-shadow:0px 0px 10px #000000;
    -webkit-box-shadow:0px 0px 10px #000000;
    box-shadow:0px 0px 10px #000000;
/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/  
	
}

div.leftNav{
	float: left;
	height:  23px;
	margin: 7px  0px 0px 5px;
	padding: 5px 10px 0px 10px;
	text-align: center;	
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
	border: 1px solid #cbcbcb;
	background-color: #2d2bfa;
	font-size: 15px;
	background-image: -webkit-gradient(
	    linear,
	    center top,
	    center bottom,
	    color-stop(0.00, hsl(240, 82%, 100%)),
	    color-stop(1.0 hsl(240, 83%, 50%))
	);
	background-image: -moz-linear-gradient(
	    t center,
	    rgb(45, 45, 255) 0%,
	    rgb(22, 21, 125) 100%
	);
	
}

div.leftNav a{
	color: #FFFFFF;
	text-decoration: none;
	font-size: 15px;
}


