<!DOCTYPE html>
<html class="ui-mobile portrait min-width-320px min-width-480px min-width-768px max-width-1024px">
<head>
  <title>Ractive</title>
  <%= stylesheet_link_tag :all %>  
  <%= javascript_include_tag "jquery.min" %>
  <%= csrf_meta_tag %>
</head>
<body style="background-color: #fff">

<%= yield %>

</body>
</html>
